.App {
    padding: 2rem 0;
    display: flex;
    justify-content: center;   
    background-color: lightgrey;  
}

.todo {
    cursor: pointer;
}
.todocompleted {
    
    text-decoration: line-through;
}